@media screen and (min-width: 480px) {
    body {
        padding: 0 5vw;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (min-width: 768px) {
    body {
        padding: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

img {
    border: 1px solid #000;
    width: 100%;
}
